<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Section <%= number %></title>
    <link rel="stylesheet" type="text/css" href="defaults.css">
    <meta id="xcode-display" name="xcode-display" content="render">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0">
  </head>

  <body>
    <span class="gutter"><span class="margin"></span></span>
    <section>
      <%= content %>
    </section>
  </body>
</html>
